@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');

html {
    font-size: 16px;
}

body {
    height: 100vh;
    margin: 0;
    padding: 0;
}

.page {
    background-color: #04031c;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='105' viewBox='0 0 80 105'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='death-star' fill='%23152a5d' fill-opacity='0.11'%3E%3Cpath d='M20 10a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm15 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zM20 75a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zm30-65a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm0 65a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zM35 10a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zM5 45a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zm60 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    min-height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-content {
    margin: auto;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.5rem;
}

.logo {
    height: 2.75rem;
    width: 2.825rem;
    color: white;
}

.logo:hover {
    cursor: pointer;
}

.title {
    color: white;
    font-size: 2.25rem;
    font-family: 'Orbitron', sans-serif;
    cursor: pointer;
}

a:any-link {
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: row;
}

.container {
    color: #f1f1f1;
    width: max-content;
    height: max-content;
    margin: auto;
    padding: 3.5rem 2rem;
    box-shadow: #353535 0 0 13px;
    border: 1px solid rgba(255, 255, 255, 0.12);
    background: rgba(255, 255, 255, 0.125);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(8.4px);
    font-family: 'Terminal', 'Matter Regular', sans-serif;
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    position: relative;
    right: 2.75rem;
}

.container h2 {
    font-family: 'Mochiy Pop P One', cursive;
    margin-bottom: 0.825rem;
    text-align: left;
    width: 100%;
}

.container h2:hover {
    cursor: default;
}

.form {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

fieldset {
    display: flex;
    justify-content: left;
    border: 0;
    margin: 0;
    margin-bottom: 1rem;
    padding: 0;
}

fieldset> :not(:last-child) {
    margin-right: 2rem;
}

legend {
    font-size: 1rem;
    font-weight: bold;
    margin: auto;
    position: relative;
    right: 0.75rem;
    margin-bottom: 0.75rem;
    padding: 0;
    width: max-content;
    height: max-content;
}

.form-group {
    margin-bottom: 1.25rem;
    display: flex;
    flex-direction: column;
}

.form-control {
    background-color: #f0f8ff;
    border: 1px solid #222;
    border-radius: 5px;
    font-family: 'Terminal', sans-serif;
    color: #353535;
    margin-bottom: 0.625rem;
}

.input[type=text]:focus {
    outline: none;
    border: 2px solid #2e3246;
}

.go-back {
    transition: .2s;
    padding: 0.2rem 0.25rem;
    margin: 0 auto;
    cursor: pointer;
    padding: 0 0 2.75rem 0;
    color: #fff;
    font-size: 1.125rem;
    position: relative;
    right: 2rem;
    font-family: "Roboto", monospace;
}

.go-back:hover {
    transform: scale(1.01);
}

.go-back span {
    transition: .3s;
}

.go-back:hover span {
    margin-right: 0.25rem;
}

.input-pack {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* width: calc(100% + 1.25rem); */
    width: 100%;
}

.input-pack input {
    outline: 0;
    border: 0;
    background: rgba(255, 255, 255, 0.175);
    color: #fff;
    border-radius: 0.625rem;
    padding: 0.25rem 0.325rem;
    margin: 0.5rem 0;
    font-size: 1rem;
    font-family: 'Inter', sans-serif;
    width: 100%;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: #2e3246;
    color: white;
    outline: 0;
    border: 0;
    font-size: 0.825rem;
    padding: 0.625rem 1rem;
    margin: 0.325rem 0;
    font-family: 'Inter', sans-serif;
    cursor: pointer;
    transition: .2s;
    border-radius: 0.5rem;
    width: 50%;
    margin-top: 0.325rem;
}

button:hover {
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.25);
    background-color: #3f445f;
}

.form-control-radio {
    font-family: system-ui, sans-serif;
    font-size: 1.25rem;
    font-weight: bold;
    line-height: 1.1;
    width: max-content;
    display: flex;
    flex-direction: row;
}

fieldset input[type="radio"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: rgba(255, 255, 255, 0.125);
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1.15rem;
    height: 1.15rem;
    border: 0.15rem solid currentColor;
    padding: 0;
    border-radius: 50%;
    /* transform: translateY(-0.075rem); */
    display: grid;
    place-content: center;
}

fieldset input[type="radio"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1rem 1rem #2FA7B4;
    background-color: CanvasText;
}

fieldset input[type="radio"]:checked::before {
    transform: scale(1);
}

fieldset input[type="radio"]:focus {
    outline: max(2px, 0.15rem) solid currentColor;
    outline-offset: max(2px, 0.15em);
}

.form-control-radio:focus-within {
    color: #2FA7B4;
}

@media screen and (min-width: 768px) {
    .container {
        width: 100%;
    }
}