body {
    margin: 0px;
}

.Resizer {
    z-index: 10000;
    box-sizing: border-box;
    background-clip: padding-box;
}

.Resizer:hover {
    transition: all 2s ease;
    border: 10px solid #030224;
}

.Resizer.horizontal {
    height: 11px;
    margin: -5px 0;
    cursor: row-resize;
    width: 100%;
    border: 8px solid #212135;
}

.Resizer.vertical {
    margin: 0 -5px;
    cursor: col-resize;
    border: 8px solid #212135 !important;
}

.Resizer.disabled {
    cursor: not-allowed;
}

.Resizer.disabled:hover {
    border-color: transparent;
}

.previewIframe {
    width: 100vw;
    height: 100vh;
    border: 0;
}

.code-play {
    color: #fff;
    background: transparent;
    border: 0;
    outline: none;
    font-size: 1.25rem;
    width: 1.825rem;
    height: 1.825rem;
    margin: 0 0.1rem 0 0.625rem;
    cursor: pointer;
}

.header {
    margin: 0;
    height: 2.75rem;
    padding: 0;
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    width: 100%;
    background-color: #04031C;
}

.header h3 {
    color: white;
    font-family: 'Roboto', sans-serif;
    margin-left: 0.5rem;
}

.header button {
    padding: 0.625rem 1rem;
    border: none;
    background-color: #212135;
    color: #fff;
    border-radius: 0.625rem;
    cursor: pointer;
    transition: all 0.2s ease;
}

.header button:hover {
    background-color: #31314f;
}

.header button:not(:first-of-type) {
    margin: 0 0.5rem;
}

.right {
    position: absolute;
    right: 0.325rem;
    width: max-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.025rem 0.5rem;
    justify-content: space-between;
}

.logo {
    width: 1.825rem;
    height: 1.825rem;
    background-color: aqua;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo:hover {
    cursor: pointer;
}

.editor-container {
    height: calc(100vh - 2.75rem);
    margin: 2.75rem 0 0 0;
    background-color: white;
}

.title-input {
    border-style: none;
    border-bottom: solid 1px #7b7b7b;
    width: 100%;
    background: transparent;
    color: #fff;
    margin-right: 0.5rem;
    padding: 0.125rem;
    font-size: 0.9125rem;
}

.title-input::placeholder {
    font-size: 0.825rem;
    color: #afafaf;
}

.title-input:focus {
    outline: none;
}

.edit {
    margin-left: 0.5rem;
    position: relative;
    left: 0.2rem;
}

.save {
    display: none;
    margin-left: 0.5rem;
    position: relative;
    left: 0.2rem;
}

a:any-link {
    color: inherit;
    text-decoration: none;
}

a:-webkit-any(a) {
    color: inherit;
    text-decoration: none;
}